.carta{
    width: 85%;
    height: 80%;
    display: flex block;
    align-items: center;
	justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.imagem-carta{
    height: 50%;
}

.imagem-carta img{
    width: 100%;
    height: 100%;
}

.informacoes-carta{
    display: flex block;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.botao-carta{
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    height: 40px;
}