body{
    background-color: #222222;
    display: flex;
    align-content: center;
    justify-content: center;
}

h2{
    font-family: sans-serif;
    -webkit-text-stroke: 1px #ffffff;
    -moz-text-stroke: 1px #ffffff;
    font-size: 30px;
}

#cenario{
    width: 100%;
    height: 700px;
    margin-left: 8px;
    margin-right: 8px;
}

#nome_jogo{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#parintins{
    width: 20%;
    height: 200px;
    background-image: url("../imagens/cenario/parintins.jpg");
    position: relative;
    top: 104px;
}

#fila{
    width: 59.9%;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border: 2px solid #ffffff;
    position: relative;
    bottom: 150px;
    left: 20%;
}

#buracao{
    width: 20%;
    height: 200px;
    background-image: url("../imagens/cenario/buracao.jpg");
    position: relative;
    bottom: 350px;
    left: 80.2%;
}

#mao{
    width: 100%;
    height: 300px;
    border: 2px solid #ffffff;
    position: relative;
    bottom: 300px;
}

#mao-cartas{
    width: 60%;
    height: 250px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;
    border: 5px solid #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    top: 42px;
    left: 10%;
}

#monte-cartas{
    width: 15%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffffff;
    border-radius: 5px;
    position: relative;
    bottom: 240px;
    left: 80%;
}

#monte-cartas img{
    width: 80%;
    height: 80%;
}

.carta{
    width: 85%;
    height: 80%;
    display: flex block;
    align-items: center;
	justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.imagem-carta{
    height: 50%;
}

.imagem-carta img{
    width: 100%;
    height: 100%;
}

.informacoes-carta{
    display: flex block;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.botao-carta{
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    height: 40px;
}