body{
    background-color: #222222;
    display: flex;
    align-content: center;
    justify-content: center;
}

.titulo{
    font-family: sans-serif;
    -webkit-text-stroke: 1px #ffffff;
    -moz-text-stroke: 1px #ffffff;
    font-size: 30px;
}

#cenario{
    width: 100%;
    height: 700px;
    margin-left: 8px;
    margin-right: 8px;
}

#nome_jogo{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#sua_mao{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom: 340px;
}

#parintins{
    width: 20%;
    height: 200px;
    background-image: url("../imagens/cenario/parintins.jpg");
    position: relative;
    top: 104px;
}

#fila{
    width: 59.9%;
    height: 250px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-items: center;
    border: 2px solid #ffffff;
    position: relative;
    bottom: 150px;
    left: 20%;
}

#buracao{
    width: 20%;
    height: 200px;
    background-image: url("../imagens/cenario/buracao.jpg");
    position: relative;
    bottom: 350px;
    left: 80.2%;
}

#mao-cartas{
    width: 60%;
    height: 250px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;
    border: 5px solid #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 310px;
    left: 20%;
}